<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bio</key>
	<string> My name is Julius Ray Parks. A growing photographer and videographer from the south suburbs of Chicago. I’ve started out doing youtube videos of august 2011 randomly browsing the internet of entertainment &amp; comedy. I’ve always had a thing for cameras such as controlling the camera or being in front of it. Videos was my main talent and then I’ve discovered i had an eye for photography as well. I didn&apos;t call myself a photographer just because of one click on the camera and taking shots. I was all about angles, styles, &amp; the art of the picture. Pictures started out working for me better around summertime of 2012 after I knew how to work a camera better. I started out with the canon rebel t3i camera which I still have now until I achieve something better. I think I can get far with what I’m doing and being able to manage both photography &amp; videography.</string>
</dict>
</plist>
