<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>videosCategories</key>
	<array>
		<array>
			<string>YEGycnADOWM</string>
			<string>8ePBDmylMic</string>
			<string>B1_PyrkybyQ</string>
		</array>
		<array>
			<string>HEo1OgCcPsY</string>
			<string>j8ypM4Uay4o</string>
			<string>GQ4A4j0D8hc</string>
			<string>bIdnnxn6ygc</string>
			<string>80M3oFBR3T4</string>
		</array>
		<array>
			<string>i31D-XEkzDM</string>
		</array>
	</array>
</dict>
</plist>
